:root {
	--orange: #ff9017;
	--blue: #344863;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
}

.btn {
	padding: 1.5rem 0.75rem;
}

.banner-header {
	font-size: 48px;
	font-weight: 500;
}

.banner-content {
	font-size: 16px;
	line-height: 24px;
	font-weight: lighter;
}

.side-menu {
	border-radius: 12px;
}

.nav-link {
	text-transform: capitalize;
	font-weight: 300;
}

.nav-link:hover {
	color: #dc3636;
}

.header-left {
	width: 100%;
}

.card-title {
	font-size: 30px;
	line-height: 40px;
	color: #344863;
	font-weight: 300;
}

.card-advert {
	background-image: url(/assets/images/banner.png);
	background-size: cover;
	background-position: 100%;
	border-radius: 12px;
	height: 280px;
}

.card-lab {
	background-image: url(/assets/images/laboratory.png);
	background-size: cover;
	background-position: 100%;
	border-radius: 12px;
	height: 280px;
}

.banner-advert {
	background-image: url(/assets/images/advert.png);
	background-size: cover;
	background-position: 100%;
}

.buy-now {
	margin-top: 80px;
}

.mt-huge {
	margin-top: 100px;
}

.mb-huge {
	margin-bottom: 100px;
}

.btn-orange {
	border-radius: 5px;
	background-color: #dc3636;
	color: #fff;
	border: none;
}

.br-10 {
	border-radius: 10px;
}

.btn-search {
	background-color: #dc3636;
}

.btn-cart {
	transition: background-color 2s;
	text-transform: capitalize;
	font-weight: 300;
	box-shadow: inset 0 0 0 0 #dc3636;
	transition: ease-out 0.5s;
}

/* https://www.youtube.com/watch?v=zPcvAwp71uA */
.btn-cart:hover {
	box-shadow: inset 0 -50px 0 0 #dc3636;
	border: none;
	color: #fff;
}

.btn-search:hover {
	background-color: #dc3636 !important;
}

.aside-menu {
	color: #707070;
	margin-top: 15px;
	margin-bottom: 15px;
}

.aside-menu:focus {
	color: inherit;
}

.aside-menu:hover i {
	background-color: #e2422d3a;
}

.aside-menu-icon {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #e4e4e4;
	padding: 10px 12px;
	margin-right: 20px;
}

.checkout-items-view {
	height: 60px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
}

.input-number {
	max-width: 50px !important;
	padding: none;
}

.header-search {
	max-width: 52rem;
}

.input-search:focus {
	box-shadow: none;
}

.card-product {
	border-radius: 10px;
	border: 1px solid #e4e4e4;
	box-shadow: 0px 2px 5px #0000000d;
}

.card-product:hover {
	box-shadow: 0px 15px 28px #0000000d;
	border: none;
}

.list-product {
	border: none;
	box-shadow: 0px 2px 5px #0000000d;
	border-radius: 12px;
}

.list-product > .card-header {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

/* Text */
.text-orange {
	color: var(--orange);
}

.advert-shop-now {
	font-size: 28px;
	color: var(--blue);
	font-weight: 400;
}

.footer-footer {
	background-color: #111111;
	color: #fff;
}

.has-submenu a {
	font-weight: 300 !important;
}

.shop-default-banner {
	background-image: url(/assets/images/banner.jpg);
	min-height: 500px;
	background-size: cover;
	/* background-position: right bottom; */
}

.cart-count {
	width: 1.6rem !important;
	height: 1.6rem !important;
	right: 25px !important;
}

.cart-label {
	display: inline-block !important;
	padding-left: 5px !important;
}

.socials {
	height: 40px;
	width: 40px;
	margin: 0 10px;
	border-radius: 50%;
	text-align: center;
	background-color: #fff;
	padding: 12px 10px;
}

.socials > a > i {
	color: #111111;
	font-size: 20px;
}

/* Table */
.cart-table-header {
	font-size: 14px;
	font-weight: 300;
	border-bottom-color: #c4c4c4 !important;
}

@media screen and (max-width: 768px) {
	.banner-header {
		font-size: 30px;
	}
}
